[submodule "ios"]
	path = ios
	url = https://github.com/diegopetrucci/ios-agents-skills/
[submodule "pr-comments-triage"]
	path = pr-comments-triage
	url = https://github.com/diegopetrucci/pr-comments-triage
